@using PirisWebApp.Models.Enums

@{
    ViewData["Title"] = "AddNewUser";
}



<form method="post">
    <div class="row" style="text-align: center;">
        <div class="col-md-12" style="display: table;">
                <h2>Add Bank Client</h2>
        </div>
    </div>
    <hr class="colorgraph">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Name</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="Name" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Last name</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="LastName" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Patronymic</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="Patronymic" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Date of birth</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="date" name="DateOfBirth" class="form-control">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Sex</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <label class="radio-inline" style="margin-right:15px;">@Html.RadioButton("Sex", "Man")Man</label>
                <label class="radio-inline">@Html.RadioButton("Sex", "Woman")Woman</label>
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Passport series</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="PassportSeries" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Passport number</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="PassportNumber" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Issued by</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="IssuedBy" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Issue date</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="date" name="IssueDate" class="form-control">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Identification number</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="IdentificationNumber" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Place of birth</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="PlaceOfBirth" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>City of actual address</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                @Html.DropDownList("PlaceOfLivingId", (SelectList)ViewBag.PlaceOfLiving, new { @class="form-control" })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Address the actual residence</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="AddressTheActualResidence" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>The telephone home</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="TheTelephoneHome" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>The mobile phone</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="TheMobilePhone" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>The E-mail</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="Email" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>The place of work</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="text" name="ThePlaceOfWork" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>The post</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="ThePost" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>The city of residence</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                @Html.DropDownList("PlaceOfRegistrationId", (SelectList)ViewBag.PlaceOfRegistration, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>The residence address</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <input type="text" name="TheResidenceAddress" class="form-control input-lg">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>The family position</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                @Html.DropDownList("MaritalStatus", Html.GetEnumSelectList<MaritalStatus>(), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Citizenship</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                @Html.DropDownList("CitizenshipId", (SelectList)ViewBag.Citizenship, new { @class = "form-control" })              
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Disability</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                @Html.DropDownList("Disability", Html.GetEnumSelectList<Disability>(), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>Pensioner</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                    <label class="radio-inline" style="margin-right:15px;">@Html.RadioButton("Pensioner", "Yes")Yes</label>
                    <label class="radio-inline">@Html.RadioButton("Pensioner", "No")No</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left;">
                <h4>Monthly income</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left;">
                <input type="number" min="1" name="MonthlyIncome" class="form-control input-lg">
            </div>
        </div>
        <div class="col-md-6" style="display: table;">
            <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                <h4>MilitaryService</h4>
            </div>
            <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                    <label class="radio-inline" style="margin-right:15px;">@Html.RadioButton("MilitaryService", "Yes")Yes</label>
                    <label class="radio-inline">@Html.RadioButton("MilitaryService", "No")No</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-xs-5 col-sm-5 col-md-5">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" style="text-align: center;">
            <input type="submit" value="Add Client" class="btn btn-lg btn-success btn-block">
        </div>
    </div>
</form>


